body{
    background-image: url(assets/fondo_contacto.webp);
    background-size: 100vw 100vh; /*vw: 100% ancho de ventana. vh:100% alto de ventana*/
    background-attachment: fixed; /*La imagen queda fija al hacer scroll*/
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 8px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.container-info{
    display: flex;
    flex-direction:column;
}
h2{
    font-size: 35px;
    color: black;
}
.container-info a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    width: 70%;
    margin-bottom: 15px;
    color:black;
    font-weight: 600;
}

svg.bi-telephone-fill{
    color: white;
    background-color: rgb(8, 132, 189);
    padding: 6px 5px;
    border-radius: 100%;
}
svg.bi-whatsapp{
    color: white;
    background-color: green;
    padding: 6px 5px;
    border-radius: 100%;
}
svg.bi-envelope-at{
    color: white;
    background-color: red;
    padding: 4px 4px;
    border-radius: 5px;
}
svg.bi-geo-alt-fill{
    color: red;
    background-color: rgb(251, 255, 36);
    padding: 4px 4px;
    border-radius: 5px;
}

.container-form{
    width: 450px; /*Ancho del formulario*/
    margin:auto;
    background: rgb(0,0,0,0.7); /*Color y transparencia del form*/
    padding: 30px 20px;
    box-sizing: border-box;
    margin-top: 10px; /*Espacio entre el form y el encabezado*/
    border-radius: 7px;
}
h3{
    color: #ffff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.campo-contacto, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
.button-enviar{
    padding: 10px 20px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}