.hospital{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

@font-face {
    font-family: 'montserrat';
    src: url(assets/fonts/Montserrat.ttf) format("TrueType");
}

@font-face {
    font-family: 'merriweather';
    src: url(assets/fonts/Merriweather.ttf) format(truetype);
}

h2{
    font-family: 'merriweather';
    font-size: 30px;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
}

h3{
    font-family: 'montserrat';
}

p{
    font-family: 'montserrat';
    line-height: 1.8;   /* más aire entre líneas */
    margin-bottom: 1.2rem; /* espacio entre párrafos */
    font-size: 17px;
}



.bloques {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c6677;
    margin-top: auto; 
}

/* Estilo de la página institucional */

.portada {
    height: 70vh; 
    width: 100vw; 
    background-image: url('assets/logo-clinica.png');
    background-position: center;    /* Centrada */
    background-repeat: no-repeat;   /* No se repite */
    padding: 20px;
}