:root {
    --color-uno: #0E7C9D;
    --color-dos:#044166;
    --color-tres: #1CA481;
    --color-cuatro: #045a29;
    --color-cinco: #e8e8e8;
    --color-seis: #FCFCFC;
    --color-texto: #222222;

    --color-uno-rgb: 14, 124, 157;
    --color-dos-rgb: 4, 65, 102;
    --color-tres-rgb: 28, 164, 129;
    --color-cuatro-rgb: 4, 90, 41;
    --color-cinco-rgb: 232, 232, 232;
    --color-seis-rgb: 252, 252, 252;
    --color-texto-rgb: 34, 34, 34;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-height: 100dvh; */
}

a {
    text-decoration: none;
}

article p {
    /* font-size: 14px; */
    text-wrap: pretty;
}

nav {
    background-color: var(--color-cinco);
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1400px;
}

nav .wrapper > a {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav img {
    height: 3rem;
    aspect-ratio: 1 / 1;
}

nav p {
    font-weight: 700;
    line-height: 20px;
}

nav p:first-of-type {
    font-size: 1.5rem;
    color: var(--color-tres);
}

nav p:last-of-type {
    font-size: 1.2rem;
    color: var(--color-uno);
}

.nav-link {
    margin: 0 0.5rem;
    font-weight: 600;
    color: var(--color-dos);
    text-transform: uppercase;
}

.nav-link-active {
    color: var(--color-tres);
    filter: drop-shadow(1px 1px 1px rgba(28, 164, 129, 0.3));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(28, 164, 129, 0.3));
}

nav button {
    padding: 0.5em 1em;
    font-weight: 600;
    color: var(--color-dos);
    background-color: var(--color-seis);
    border: 2px var(--color-tres) solid;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

nav button:hover {
    background-color: var(--color-cinco);
}

main {
    flex-grow: 1;
}

header, article {
    padding: 2rem;
}

h2, h3, h4 {
    margin: 0.5em 0;
    text-align: center;
    color: var(--color-texto);
}


/* -------------------- */
/* ------ INICIO ------ */
/* -------------------- */


.seccion-doble {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.seccion-doble:nth-of-type(even) {
    flex-direction: row-reverse;
}

.seccion-doble > div {
    width: 50%;
    padding: 2rem;
    min-width: 500px;
}

.seccion-doble img {
    width: 100%;
    height: auto;
}

.home-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.home-box button {
    width: fit-content;
    margin: 0 auto;
}

/* -------------------- */
/* -- INSTITUCIONAL --- */
/* -------------------- */

#institucional article:nth-child(4n) {
    background-color: rgba(var(--color-uno-rgb), 0.3);
}

#institucional article:nth-child(4n-2) {
    background-color: rgba(var(--color-tres-rgb), 0.3);
}

article p, header p {
    max-width: 1400px;
    margin: 0 auto;
}

#valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.frame-values {
    max-width: 350px;
}


/* -------------------- */
/* ----- CONTACTO ----- */
/* -------------------- */

#contact-form {
    padding-top: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.cajas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

.cajas h3 {
    margin: 0.5em 0 2em;
    color: var(--color-texto);
}

.canales, .formulario {
    background-color: var(--color-seis);
    padding: 1rem;
    width: 40%;
    border-radius: 20px;
    min-width: 350px;
}

.canales ul {
    list-style-type: none;
    width: fit-content;
    margin: 20px auto;
}

.canales > ul > li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1em 0;
    color: var(--color-texto);
}

.canales > ul > li > span {
    display: flex;
    align-items: center;
}

.canales > ul > li > a {
    color: var(--color-texto);
}

.canales svg {
    width: 25px;
    height: 20px; 
    fill: var(--color-texto);
}
form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 0.5em;
    fill: var(--color-texto);
    border: 1px solid rgba(var(--color-dos-rgb), 0.4);
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid rgba(var(--color-dos-rgb), 0.4);
    border-radius: 10px;
}

button[type='submit'], .home-box button {
    display: inline-block;
    margin: 10px auto;
    padding: 0.6em 2em;
    border-radius: 10px;
    /* border: 2px solid rgba(var(--color-dos-rgb), 1); */
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-dos);
    color: var(--color-cinco);
}

.formulario:hover, .canales:hover {
    /* background-color: var(--color-cinco); */
    background: linear-gradient(45deg, rgba(var(--color-tres-rgb), 0.2), rgba(var(--color-dos-rgb), 0.2));
}

/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */

footer {
    background-color: var(--color-cinco);
}

.footer-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
    gap: 50px;
}

.footer-contenido p {
    font-size: small;

}

.footer-social > div {
    display: flex;
    justify-content: space-around;
}

.footer-social img {
    width: 24px;
    aspect-ratio: 1 / 1;
}

footer h3 {
    text-align: left;
}

footer ul a {
    display: block;
    color: var(--color-texto);
    font-weight: 500;
}

.footer-copy {
    text-align: center;
    padding: 20px 0;
}