:root {
    --color-uno: #0E7C9D;
    --color-dos: #044166;
    --color-tres: #1CA481;
    --color-cuatro: #045a29;
    --color-cinco: #e8e8e8;
    --color-seis: #FCFCFC;
    --color-texto: #222222;

    --color-uno-rgb: 14, 124, 157;
    --color-dos-rgb: 4, 65, 102;
    --color-tres-rgb: 28, 164, 129;
    --color-cuatro-rgb: 4, 90, 41;
    --color-cinco-rgb: 232, 232, 232;
    --color-seis-rgb: 252, 252, 252;
    --color-texto-rgb: 34, 34, 34;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
}

article p {
    text-wrap: pretty;
}

main {
    flex-grow: 1;
}

h2,
h3,
h4 {
    margin: 0.5em 0;
    text-align: center;
    color: var(--color-texto);
}




/* -------------------- */
/* ------ NAVBAR ------ */
/* -------------------- */


nav {
    background-color: var(--color-cinco) !important;
}

nav img {
    height: 3rem;                   
    aspect-ratio: 1 / 1;            
}

nav  p {
    margin: 0 !important;            
    padding: 0 !important;           
    font-weight: 700;                
    line-height: 20px;               
}

nav p:first-of-type {
    font-size: 1.5rem;               
    color: var(--color-tres);        
}

nav p:last-of-type {
    font-size: 1.2rem;               
    color: var(--color-uno);         
}

nav .nav-link {
    font-weight: 600 !important;     
    color: var(--color-dos) !important; 
    text-transform: uppercase !important; 
}

nav .nav-link.active {
    color: var(--color-tres) !important; 
    filter: drop-shadow(1px 1px 1px rgba(var(--color-tres-rgb), 0.3)) !important;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(var(--color-tres-rgb), 0.3)); 
}

nav .login-button {
    padding: 0.3em 0.8em 0.4em !important;   
    font-size: 0.9rem !important;
    font-weight: 700 !important;            
    text-transform: uppercase !important;   
    color: var(--color-dos) !important;     
    background-color: var(--color-seis) !important; 
    border: 2px var(--color-tres) solid !important;  
    border-radius: 1em !important;          
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

nav button:hover {
    background-color: rgba(var(--color-tres-rgb), 0.15) !important; 
}

/* .navbar .dropdown-menu {
    border: 2px solid var(--color-cinco) !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.navbar .dropdown-item {
    color: var(--color-dos) !important;
    font-weight: 500 !important;
    padding: 10px 20px !important;
    transition: all 0.3s ease;
}

.navbar .dropdown-divider {
    border-color: var(--color-cinco) !important;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: var(--color-cinco) !important;
    color: var(--color-tres) !important;
}

.navbar .dropdown-toggle:hover {
    color: var(--color-dos) !important;
}

.navbar .nav-underline .dropdown-toggle:focus {
    border-bottom: none !important;
} */



/* -------------------- */
/* ------ INICIO ------ */
/* -------------------- */

header {
    background-image: url("../images/hospi.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-bottom: 5rem;
    position: relative;
}

header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
    position: relative;
    color: var(--color-seis);
    font-size: clamp(42px, 6vw, 120px);
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(2px 2px rgba(var(--color-texto-rgb), 0.5));
    -webkit-filter: drop-shadow(2px 2px rgba(var(--color-texto-rgb), 0.5));
    background: linear-gradient(90deg, var(--color-uno), var(--color-dos), var(--color-cuatro), var(--color-tres));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    -webkit-text-fill-color: var(--color-seis);
    margin: 0;
    z-index: 1;
}

header h2 {
    color: var(--color-seis);
    filter: drop-shadow(2px 2px rgba(var(--color-texto-rgb), 0.5));
    -webkit-filter: drop-shadow(2px 2px rgba(var(--color-texto-rgb), 0.5));
    font-size: clamp(21px, 3vw, 60px);
    margin: 0;
    z-index: 1;
}

#servicios img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-box p {
    padding: 0 5vw;
    margin-bottom: 2rem;
    text-wrap: pretty;
}

.home-box button {
    width: fit-content;
    margin: 0 auto;
}

.logos-obras-sociales {
    gap: 25px;
    max-width: 1400px;
    margin: auto;
}

.obras-sociales img {
    height: 50px;
    width: auto;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.solicitar-turno {
    max-width: 1400px;
    margin: 0 auto 5rem;
}

.solicitar-turno p {
    width: clamp(300px, 70vw, 1000px);
    margin: 0 auto 2rem;
}

.home-box h2,
.obras-sociales h2,
.solicitar-turno h2 {
    margin: 1.5em 0 1rem 0; 
    font-size: 1.5rem ;  
    font-weight: 700 ;   
    color: var(--color-texto) ;
    line-height: 1.2rem ;
}

.home-box p, 
.obras-sociales p,
.solicitar-turno p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-texto);
    line-height: 1.5;
    margin-bottom: 2rem;
}



/* -------------------- */
/* -- INSTITUCIONAL --- */
/* -------------------- */

#header-institucional {
    background-image: url("../images/interior.jpg");
    height: 400px;
}

#header-institucional h1 {
    font-size: clamp(42px, 4vw, 120px);
}

#header-institucional h2 {
    font-size: clamp(30px, 3vw, 60px);
}

#institucional article:nth-child(4n) {
    background-color: rgba(var(--color-uno-rgb), 0.3);
}

#institucional article:nth-child(4n-2) {
    background-color: rgba(var(--color-tres-rgb), 0.3);
}

article p,
header p {
    max-width: 1400px;
    margin: 0 auto;
}



/* -------------------- */
/* -- PROFESIONALES --- */
/* -------------------- */

.accordion-button:focus,
.accordion-button:focus-visible,
.accordion-button:not(.collapsed):focus,
.accordion-button:not(.collapsed):focus-visible,
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}


/* -------------------- */
/* ----- CONTACTO ----- */
/* -------------------- */

.canales,
.formulario {
    background-color: rgba(var(--color-cinco-rgb), 0.4);
    border-radius: 20px;
    min-width: 350px;
}

.canales ul {
    list-style-type: none;
    width: fit-content;
}

.canales>ul>li {
    color: var(--color-texto);
}

.canales>ul>li>span {
    display: flex;
    align-items: center;
}

.canales>ul>li>a {
    color: var(--color-texto);
}

.canales svg {
    width: 25px;
    height: 20px;
    fill: var(--color-texto);
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 0.5em;
    fill: var(--color-texto);
    border: 1px solid rgba(var(--color-dos-rgb), 0.4);
    border-radius: 10px;
}

button[type='submit'],
.home-box button,
.solicitar-turno button {
    display: block;
    margin: 10px auto;
    padding: 0.6em 2em 0.7em;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-dos);
    color: var(--color-cinco);
}

button[type='submit']:hover,
.home-box button:hover {
    background-color: var(--color-uno);
}

.solicitar-turno button {
    background-color: var(--color-cinco);
    border: 3px solid var(--color-cuatro);
    color: var(--color-dos);
    font-weight: 700;
}

.solicitar-turno button:hover {
    background-color: var(--color-cuatro);
    color: var(--color-seis);
}

.formulario:hover,
.canales:hover {
    background: linear-gradient(45deg, rgba(var(--color-tres-rgb), 0.2), rgba(var(--color-dos-rgb), 0.2));
}



/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */

footer {
    background-color: var(--color-cinco);
}

footer h3 {
    text-align: left;
}

footer ul {
    list-style-type: none;
}

footer ul a {
    display: block;
    color: var(--color-texto);
    font-weight: 500;
}

footer ul a:hover {
    color: var(--color-uno);
    stroke: var(--color-uno);
    fill: var(--color-uno);
}

footer svg {
    stroke: var(--color-texto);
}

#fb-icon:hover {
    fill: none;
    stroke: var(--color-uno);
}
